<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Столы</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Шаурма от Григоряна</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Главная</a>
                </li>
                <li><a class="nav-link active" th:href="@{/logout}">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container my-2">
    <h1 class="text-center">Список Столов</h1>
    <hr>

    <a th:href="@{/tables/showNewTablesForm}" class="btn btn-primary btn-sm mb-3"> Добавить стол</a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> №</th>
            <th> Количество мест</th>
            <th> Стоимость брони</th>
            <th> Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="table : ${list}">
            <td th:text="${table.id}"></td>
            <td th:text="${table.countPlaces}"></td>
            <td th:text="${table.bookingAmount}"></td>
            <td><a th:href="@{/tables/showFormForUpdate/{id}(id=${table.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/tables/deleteTable/{id}(id=${table.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>